@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    font-family: 'Montserrat', 'Open Sans', 'Segoe UI', verdana, sans-serif;
    color: #444;
    width: 500px;
    margin: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

*:focus {
    outline: none;
}

.container {
    padding-top: 105px;
    overflow: auto;
    height: 480px;
}

header {
    background: #F47422;
    color: #fff;
    padding: 9px;
    cursor: pointer;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 483px;
    z-index: 100;
}

header i {
    margin-left: 4px;
    cursor: pointer;
}

header span.profile {
    float: right;
    margin-top: -1px;
    padding: 4px;
    font-size: 11px;
}

header span.profile span {
    display: block;
}

header span.profile img {
    width: 27px;
    float: right;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

#hamburger-menu {
    font-size: 20px;
}

/* Styles for the task type header */
.task-type {
    margin: 0px;
    position: fixed;
    left: 0px;
    top: 39px;
    background: #FFF;
    width: 498px;
    z-index: 100;
}

.task-type ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin: 2px;
}

.task-type ul li {
    float: left;
    text-align: center;
    padding: 13px;
    margin: 2px;
    width: 50px;
    line-height: 14px;
    cursor: pointer;
}

.task-type ul li i {
    font-size: 25px;
    color: #193A8F;
}

.task-type ul li span {
    font-size: 11px;
}

.task-type ul li:hover, .task-type ul li.active {
    background: #EAEDF6;
    transition: 0.4s;
    border-radius: 3px;
}

/* Styling for things list */
.things-list {
    margin: 2px 4px 2px 2px;
    padding: 0;
}

.things-list ul {
    list-style-type: none;
    font-size: 12px;
    color: #193A8F;

    margin: 0px;
    padding: 0;
}

.things-list ul li {
    line-height: 23px;
    cursor: pointer;
    padding-left: 5px;
}

.things-list ul li:hover {
    background: #EFF2FC;
    transition: 0.4s;
}

.things-list i {
    font-size: 13px;
    cursor: pointer;
    margin: 0px 3px 5px 3px;
    color: #1F69B6;
}

i.fa-comments {
    float: right;
    padding: 5px 5px 0px 0px;
}

.things-list span.date {
    color: #AAA;
    font-size: 9px;
    font-weight: normal;
}

.completed {
    text-decoration: line-through; 
    font-size: 10px;
}

.add-button {
    color: #1F69B6;
    cursor: pointer;
}

.add-task {
    font-family: 'Montserrat', 'Open Sans', 'Segoe UI', verdana, sans-serif; 
    font-size: 11px;
    border-radius: 2px;
    border: 1px solid #EAEAEA;
    padding: 6px;
    margin: 6px 8px 0px 3px;
    width: 425px;
}

/* Styles for the sidebar */
.sidebar {
    position: fixed;
    top: 50;
    left: 0;
    height: 505px;
    background: #FFFDFC;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 15px 10px;
    font-size: 11px;
    width: 250px;
    visibility: hidden;
    /*opacity: 0.96;*/
}

.visible-menu {
    visibility: visible;    
    width: 250px;
    transition: 0.2s;
}

.hidden-menu {
    visibility: hidden;    
    transition: 0.2s;
    width: 0px;
}

.sidebar > .profile {
    width: 100%;
    margin-bottom: -15px;
}

.main-profile-pic {
    float: left;
    border-radius: 50%;
    width: 50px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    margin: 0px 10px 5px 5px;
}

.profile-name {
    float: left;
    font-size: 14px;
    color: #696969;
    text-align: left;
    margin-top: 8px;
}

.profile-email {
    float: left;
    font-size: 10px;
    color: #AAA;
    text-align: left;
}

.profile-content {
    padding-top: 70px;
    padding-left: 6px;
}

.rightbar {
    width: 150px;
    position: fixed;
    top: 50;
    right: 0;
    background: #FFFDFC;
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 3px;
    /*opacity: 0.96;*/
}

.rightbar a {
    color: #888;
    cursor: pointer;
    text-decoration: none;
}

.rightbar i {
    margin-right: 7px;
}

.rightbar span {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #F6F6F6;
}

/* Left profile content */
.profile-content > h3 {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    margin-bottom: 10px;
}

.filter-icon {
    padding: 3px 5px;
    border: 1px solid #888;
    color: #888;
    border-radius: 3px;
    cursor: pointer;
}

.filter-icon:hover {
    color: #FFF;
    background: #193A8F;
    border: 1px solid #193A8F;
    transition: 0.4s;
}

.filter-icon > i {
    margin-right: 5px;
}

.filter-icon-list {
    display: block;
    padding: 5px;
}

.filter-icon-list:hover {
    background: #EFF2FC;
    transition: 0.3s;
    cursor: pointer;
}

.filter-icon-list > i {
    margin-right: 5px;
}

.selected {
    color: #FFF;
    background: #193A8F;
    border: 1px solid #193A8F;
}

.filter-date {
    font-family: 'Montserrat', 'Open Sans', 'Segoe UI', verdana, sans-serif;
    width: 100px;
    padding: 3px 6px;
    margin-top: 7px;
    border-radius: 3px;
    border: 1px solid #888;
    color: #888;
    font-size: 11px;
}

/* Comments Popup */
.comments-popup {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 480px; /* Full width */
    height: 552px; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    padding: 10px;
}

.comments-popup-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 85%; /* Could be more or less, depending on screen size */
    border-radius: 4px;
    height: 75%;
    overflow: auto;
}

.comments-popup-content h4 {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    color: #F47422;
}

.comments-popup-content p {
    margin-top: 7px;
    font-size: 13px;
    color: #888;
}

.comments-popup-content p.comment {
    margin-top: 7px;
    font-size: 11px;
    color: #999;
}

.comments-header > h4 {
    display: inline;
    float: left;
    margin: 5px; 
}

.comments-header > .task-buttons {
    display: inline;
    float: right;
    margin: 5px 2px; 
}

.comments-body {
    clear: both;
    padding: 5px;
}

.comment-time {
    font-size: 9px;
    color: #8BA6EB;
    text-align: right;
}

/* Login screen */
.login-container {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.login-container span {
    display: block;
    margin-top: 10px;
    color: #BBB;
    font-size: 10px;
}

.login-container span a {
    text-decoration: none;
    color: #BBB;
}
.google-login-button {
    background: #4285F4;
    color: #FFF;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #4285F4;
    cursor: pointer;
    width: 190px;
    margin-top: 10px;
}
.login-textbox-holder {
    padding: 0;
    margin: 0;
}

.login-textbox {
    margin: auto;
    width: 350px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #DDD;
    border-radius: 2px;
    margin-bottom: 12px;
    font-size: 12px;
    font-family: 'Montserrat', 'Open Sans', 'Segoe UI', verdana, sans-serif;
    border-left: none;
}

.login-textbox:focus {
    border-bottom: 1px solid #87B1F8;
    transition: 0.6s;
}

.login-textbox-icon {
    color: #AAA;
}

.sign-up-text {
    font-size: 11px !important;
}

.sign-up-text a {
    color: #F47422 !important;
}

.footer {
    margin-top: 50px;
}

.error-msg {
    font-size: 11px;
    color: #F00;
}

.original-span {
    display: inline !important;
    font-size: 11px !important;
    color: #F00 !important;
}

.login-logo {
    color: #1E3E92;
    font-size: 12px;
    font-weight: 600;
    margin: 20px 0px;
}

/* AJAX Loader for the content page */
#content-loader {
    display: inline;
    position: fixed;
    top: 72px;
    right: 25px;
}

.things-list-heading {
    font-size: 11px !important;
    color: #183384;
    margin: 15px 3px -2px 2px;
}